{% extends 'python_code_analyzer_app/base.html' %}

<script type="text/javascript">
	
	{% block jquery %}
	function getColor(value, bad, regular, good){
		if(value < bad)
			return "red"
		if(value < regular)
			return "orange"
		if(value < good)
			return "yellow"
		return "green"
	}
		var div;
		var color;
		var value;
		{% for indicator in list_of_indicators %}
			div = document.getElementById("{{indicator.id}}");
			{% if indicator.type == 'rating' %}
				color = getColor( {{indicator.value}} ,{{indicator.bad}}, {{indicator.regular}}, {{indicator.good}});
				div.innerHTML = `<h1><span style="color: ${color};">{{indicator.value}}</span>/10</h1>`;
			{% else %}
				div.innerHTML = `<h1>{{indicator.value}}</h1>`;
			{% endif %}
		{% endfor %}
		var ctx;
		var myChart;
		{% for chart in list_of_charts %}
			{% if chart.type == 'matrix' %}
				ctx = document.getElementById("{{chart.id}}").getContext('2d');
				myChart = new Chart(ctx, {
					type: 'matrix',
					
					data: {
						datasets: [{
						data: {{ chart.data|safe }},
						backgroundColor: function (context) {
							var value = context.dataset.data[context.dataIndex].v;
							var msgType = context.dataset.data[context.dataIndex].y;
							let alpha = 2 * value / 50.0;
							if(msgType == 'warning')
								return `rgba(0,200,0,${alpha})`;
							if(msgType == 'refactor')
								return `rgba(255,255,0,${alpha})`;
							if(msgType == 'convention')
								return `rgba(0,0,200,${alpha})`;
							return `rgba(255,0,0,${alpha})`;
						},
						borderWidth: 0,
						borderColor: '#fff',
						width: ({chart}) => (chart.chartArea || {}).width / {{ chart.xLabels|safe }}.length - 1,
						height: ({chart}) => (chart.chartArea || {}).height / {{ chart.yLabels|safe }}.length - 1,
						}]
					},
					options: {
						scales:{
							x:{
								labels: {{ chart.xLabels|safe }},
								type: 'category',
								grid: {
									display: false,
									drawBorder: false,
									tickLength: 0
								}
							},
							y:{
								labels: {{ chart.yLabels|safe }},
								type: 'category',
								offset: true,
								grid: {
									display: false,
									drawBorder: false,
									tickLength: 0
								}
							}
						},
						plugins: {
							legend: {
								display: false
							},
							tooltip: {
								callbacks: {
									label: function(tooltipItem, data) {
										return tooltipItem.raw.v == null ? ' 0' : ' '+tooltipItem.raw.v+' '+tooltipItem.raw.y+'s';
									}
								}
							}
						}
					}
				});
			{% else %}
				ctx = document.getElementById("{{chart.id}}").getContext('2d');
				myChart = new Chart(ctx, {
					type: "{{chart.type}}",
					data: {
						labels: {{ chart.xLabels|safe }},
						datasets: [{
							label: "{{chart.label}}",
							data: {{ chart.data|safe }}
							,
							backgroundColor: [
								'rgba(255, 99, 132, 0.2)',
								'rgba(54, 162, 235, 0.2)',
								'rgba(255, 206, 86, 0.2)',
								'rgba(75, 192, 192, 0.2)',
								'rgba(153, 102, 255, 0.2)',
								'rgba(255, 159, 64, 0.2)'
							],
							borderColor: [
								'rgba(255, 99, 132, 1)',
								'rgba(54, 162, 235, 1)',
								'rgba(255, 206, 86, 1)',
								'rgba(75, 192, 192, 1)',
								'rgba(153, 102, 255, 1)',
								'rgba(255, 159, 64, 1)'
							],
							borderWidth: 1
						}]
					},
					options: {
						plugins: {
							legend: {
								display: {{chart.display_legend}}
							}
						}
					}
				});
			{% endif %}
		{% empty %}
			<li><h3>No repositories have been added yet.</h3></li>
		{% endfor %}
	{% endblock %}
</script>

{% block page_header %}
<nav class="navbar navbar-dark bg-dark">
	<span class="navbar-brand mb-0">Analysis name: <span style="background-color: #5c5c5c">{{ analysis }}</span></span>
	<span class="navbar-brand mb-0 ">Status: <span style="background-color: #5c5c5c">{{ analysis.status }}</span></span>
	<span class="navbar-brand mb-0 ">Date: <span style="background-color: #5c5c5c">{{ analysis.date_added }}</span></span>
	<span class="navbar-brand mb-0 ">End Date: <span style="background-color: #5c5c5c">{{ analysis.date_finished }}</span></span>
	{% if analysis.status == 'FINISHED' %}
		<form class="form-inline">
			<a  href="{% url 'python_code_analyzer_app:analysis_result' analysis.id %}"  class="btn btn-dark" title="Download results"><i class="fa fa-download"></i></a>
		</form>
	{% endif %}
  </nav>

{% endblock page_header %}
{% block content %}

<div class="mb-2"style="margin-top: 20;">
	
	<div class='row'>
		{% for indicator in list_of_indicators %}
			<div class='col-sm-4'>
				<div class="card" style="margin-bottom: 20px;">
					<div class="card-header text-light" style="background-color: #212529;">
						{{ indicator.title }}
					</div>
					<div class="card-body text-dark text-center">
						<div id="{{ indicator.id }}"></div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class='row'>
	{% for chart in list_of_charts %}
		<div class="col-sm-{{chart.size}}">
			<div class="card" style="margin-bottom: 20px;">
				<div class="card-header text-light" style="background-color: #212529;">
				{{ chart.label }}
				</div>
				<div class="card-body">
				<canvas id="{{ chart.id }}" width="400" height="{{ chart.height }}"></canvas>    
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
{% endblock content %}

