{% extends 'python_code_analyzer_app/base.html' %}
{% block content %}
<p>Analysis: {{ analysis }}</p>
<p>Status: {{ analysis.status }}</p>
<p>Date: {{ analysis.date_added }}</p>
<p>End Date: {{ analysis.date_finished }}</p>
{% if analysis.status == 'FINISHED' %}
	<a href="{% url 'python_code_analyzer_app:analysis_result' analysis.id %}">Ver resultados</a>
{% endif %}
<!-- 	<ul>
	{% for t in tools %}
		<li>
			<p>
				<a href="{% url 'python_code_analyzer_app:analysis' analisis.id %}">{{analisis}} - {{ analisis.date_added|date:'M d, Y H:i' }} - {{ analisis.status }}</a>
			</p>
			<!-- <p>Fecha: {{ analisis.date_added|date:'M d, Y H:i' }}</p>
			<p>Estado: {{ analisis.status }}</p> -->
		</li>
	{% empty %}
		<li>There are no analyzes for this repository yet.</li>
	{% endfor %}
	</ul>
 -->	
{% endblock content %}