{% load bootstrap4 %}
 <!doctype html>
 <html lang="en">
     <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1,
        shrink-to-fit=no">
     <title>Python Code Analyzer</title>
     {% bootstrap_css %}
     {% bootstrap_javascript jquery='full' %}
</head>

<body class="text-light" style="background-color: #343a40;">
 <nav class="navbar navbar-expand-md navbar-dark mb-0 border-dark">
    <a class="navbar-brand" href="{% url 'python_code_analyzer_app:index'%}">
        Python Code Analyzer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'python_code_analyzer_app:repositories'%}">
                Repositories</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text text-light">Hello, {{ user.username }}.</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Log in</a>
                </li>
            {% endif %}
        </ul>
    </div>
 </nav>
 <div class="border-bottom mb-2">
        
 </div>
 <main role="main" class="container">
    <div>
        {% block page_header %}{% endblock page_header %}
    </div>
    <div>
        {% block content %}{% endblock content %}
    </div>
 </main>
 <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
 <script type="text/javascript">
     $(document).ready(function(){
        {% block jquery %} {% endblock %}
     })
 </script>
</body>
</html>
