{% extends "python_code_analyzer_app/base.html" %}

{% block page_header %}
	<div class="jumbotron text-dark">
		<h1 class="display-3">Improve your code!</h1>
		<p class="lead">Analyze, improve, and optimize your Python code with Python Code Analyzer.</p>
		{% if user.is_authenticated %}
		<a class="btn btn-lg btn-primary" href="{% url 'python_code_analyzer_app:repositories' %}"
			role="button">Repositories &raquo;</a>
		{% else %}
		<a class="btn btn-lg btn-primary" href="{% url 'users:login' %}"
			role="button">Log In &raquo;</a>
		<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
			role="button">Register &raquo;</a>
		{% endif %}
	</div>
{% endblock page_header %}

{% block content %}
<p></p>
{% endblock content %}