{% extends "python_code_analyzer_app/base.html" %}
{% block content %}
	<p><a href="{% url 'python_code_analyzer_app:repository' repository.id %}">{{ repository }}</a></p>
 
	<p>Add a new analysis:</p>
	<form action="{% url 'python_code_analyzer_app:new_analysis' repository.id %}" method='post'>
		{% csrf_token %}
		{{ form.as_p }}
		<ul>
			{% for herr in all_tools %}
			
			<li>
				<p>
					<label>{{herr.name}}</label><br>
					<input type="checkbox", value="clicked", name = "chk_enabled-{{herr.id}}" checked> Habilidato</input><br>
					<input type="checkbox", value="clicked", name = "chk_default-{{herr.id}}" checked> Parametros por defecto</input><br>
					<label for="parameters-{{herr.id}}">Parametros:</label>
					<input type="text" name="parameters-{{herr.id}}" maxlength="256" id="parameters-{{herr.id}}">
				</p>
			</li>
			{% endfor %}
		</ul>
		<button name='submit'>Add analysis</button>
	</form>
 
{% endblock content %}