{% extends 'python_code_analyzer_app/base.html' %}
{% block page_header %}
 <h3 class="mb-3">{{ repository }}</h3>
{% endblock page_header %}

{% block content %}

<!-- <p>Analyzes:</p> -->

	{% for analisis in analyzes %}
		<div class="card mb-3">
			<h4 class="card-header text-light" style="background-color: #212529;">
				{{analisis}}
				<small>
					{% if analisis.status == 'PENDING' or analisis.status == 'RUNNING' %}
						<a href="{% url 'python_code_analyzer_app:cancel_analysis' analisis.id %}">Cancel</a>
					{% else %}
						<a href="{% url 'python_code_analyzer_app:analysis' analisis.id %}">View</a>
					{% endif %}	
					
 				</small>
 			</h4>
 			<div class="card-body text-dark">
 				{{ analisis.date_added|date:'M d, Y H:i' }} - {{ analisis.status }}
 			</div>
 		</div>
	{% empty %}
		<p>There are no analyzes for this repository yet.</p>
	{% endfor %}

	<br/><br/>
	<!-- pagination -->
	{% if analyzes.has_previous %}
		<a href="?page=1">&laquo First</a>
		<a href="?page={{ analyzes.previous_page_number }}">Previous</a>
	{% endif %}

	Page {{analyzes.number}} of {{ analyzes.paginator.num_pages }}

	{% if analyzes.has_next %}
		<a href="?page={{ analyzes.next_page_number}}">Next</a>
		<a href="?page={{ analyzes.paginator.num_pages }}">Last &raquo </a>
	{% endif %}
	
	<p>
		<a href="{% url 'python_code_analyzer_app:new_analysis' repository.id %}">Add new analysis</a>
	</p>
{% endblock content %}