{% extends 'python_code_analyzer_app/base.html' %}
{% block content %}
<p>Repository: {{ repository }}</p>
<p>Analyzes:</p>

	<ul>
	{% for analisis in analyzes %}
		<li>
			<p>
				<a href="{% url 'python_code_analyzer_app:analysis' analisis.id %}">{{analisis}} - {{ analisis.date_added|date:'M d, Y H:i' }} - {{ analisis.status }}</a>
				{% if analisis.status == 'PENDING' or analisis.status == 'RUNNING' %}
					<a href="{% url 'python_code_analyzer_app:cancel_analysis' analisis.id %}">Cancel</a>
				{% endif %}	
			</p>
			<!-- <p>Fecha: {{ analisis.date_added|date:'M d, Y H:i' }}</p>
			<p>Estado: {{ analisis.status }}</p> -->
		</li>
	{% empty %}
		<li>There are no analyzes for this repository yet.</li>
	{% endfor %}
	</ul>

	<br/><br/>
	<!-- pagination -->
	{% if analyzes.has_previous %}
		<a href="?page=1">&laquo First</a>
		<a href="?page={{ analyzes.previous_page_number }}">Previous</a>
	{% endif %}

	Page {{analyzes.number}} of {{ analyzes.paginator.num_pages }}

	{% if analyzes.has_next %}
		<a href="?page={{ analyzes.next_page_number}}">Next</a>
		<a href="?page={{ analyzes.paginator.num_pages }}">Last &raquo </a>
	{% endif %}
	
	<p>
		<a href="{% url 'python_code_analyzer_app:new_analysis' repository.id %}">Add new analysis</a>
	</p>
{% endblock content %}